.x-counter {
    float: left;
    background-color: #0079BF;
    color: white;
    margin: auto;
    border-radius: 3px;
    font-size: 9pt;
    padding: 4px 5px;
    width: 20px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
}

